.row
  .span10.columns
    %fieldset
      = form_for @profile, :html => {:class => 'form-stacked'} do |f|
        - if @profile.errors.any?
          .alert-message.block-message.error
            %p #{pluralize(@profile.errors.count, "problem")} with your registration:
            .errors
              - @profile.errors.full_messages.each do |msg|
                %p= msg



        .clearfix
          = f.label "Organization's Physical Address"
          .input
            = f.text_field :address, :class => "field"
        .clearfix
          = f.label "Organizations Phone Number"
          .input
            = f.text_field :phone, :class => "field"
        .clearfix
          = f.label :subject, "Email subject"
          .input
            = f.text_field :subject, :class => "field"
        %span.help-block
          The Subject line your visitors will see in their inbox.
        .clearfix
          = f.label :body, "Email body"
          .input
            = javascript_include_tag "/javascripts/ckeditor/ckeditor.js"
            = javascript_include_tag "editor.js"
            = f.text_area :body, :class => "email_body"
        %span.help-block
          Information you would like your visitors to be aware of. Upcoming Events, Church information, Vision or Mission Statement, etc.
        .clearfix
          = f.label :video_url, "Video URL"
          .input
            = f.text_field :video_url, :class => "field"
        %span.note Upload your video to 
        = link_to "YouTube", "http://youtube.com/my_webcam"
        then click 
        %br/ 
        "view on video page" and copy the url
        %br/
        in the address bar and paste it here.

        %hr/
        %span.note Enter some questions you would like your visitors to answer
        .clearfix
          = f.label "Question 1."
          .input
            = f.text_field :question_one, :class => "field"
        .clearfix
          = f.label "Question 2"
          .input
            = f.text_field :question_two, :class => "field"
        .clearfix
          = f.label "Question 3"
          .input
            = f.text_field :question_three, :class => "field"
        .clearfix
          = f.label "Question 4"
          .input
            = f.text_field :question_four, :class => "field"
        .clearfix
          = f.label "Question 5"
          .input
            = f.text_field :question_five, :class => "field"   

        .actions
          = f.submit("Update", :class => "btn primary")
