.row
  .span10.columns
    %fieldset
      = form_for @profile, :html => {:class => 'form-stacked'} do |f|
        - if @profile.errors.any?
          .alert-message.block-message.error
            %p #{pluralize(@profile.errors.count, "problem")} with your registration:
            .errors
              - @profile.errors.full_messages.each do |msg|
                %p= msg



        .clearfix
          = f.label :address
          .input
            = f.text_field :address, :class => "field"
        .clearfix
          = f.label :phone
          .input
            = f.text_field :phone, :class => "field"
        .clearfix
          = f.label :video_url, "Video URL"
          .input
            = f.text_field :video_url, :class => "field"
        %span.note Upload your video to 
        = link_to "YouTube", "http://youtube.com/my_webcam"
        .clearfix
          = f.label :subject, "Email subject"
          .input
            = f.text_field :subject, :class => "field"
        .clearfix
          = f.label :body, "Email body"
          .input
            = f.text_area :body, :class => "email_body"

        .actions
          = f.submit("Update", :class => "btn primary")
