<p>
  <h5 id="address">Organization's Physical Address:</h1> <%= @profile.address %>
</p>
<p>
  <h5 id="phone">Organization's Phone Number:</h1> <%= @profile.phone %>
</p>
<p>
  <h5 id="video url">Video url:</h1> <%= link_to @profile.video_url, @profile.video_url %>
</p>
<p>
  <h5 id="subject:">Email Subject</h1> <%= @profile.subject %>
</p>
<p>
  <h5 id="body:">Email Body:</h1>
</p>
<p class="email_body"><%= @profile.body.html_safe %></p>
<%= link_to "Send test email", test_email_path %> <br />
<%= link_to "Edit profile", edit_profile_path %>
