- if @user
  %h3= "#{@user.name}"
.row
  .span6.columns
    %fieldset
      = form_for @visitor, :html => {:class => 'form-stacked'} do |f|
        - if @visitor.errors.any?
          .alert-message.block-message.error
            %p #{pluralize(@visitor.errors.count, "problem")} with your registration:
            .errors
              - @visitor.errors.full_messages.each do |msg|
                %p= msg



        .clearfix
          = f.label :name
          .input
            = f.text_field :name, :class => "field"
        .clearfix
          = f.label :email
          .input
            = f.text_field :email, :class => "field"
        .clearfix
          
          .input
            = f.hidden_field :user_id, :class => "field"

          %span.note
            We take your privacy seriously and will never <br /> spam or sell your email.
   
        .actions
          = f.submit((defined?(editing) ? "Submit" : "Submit"), :class => "btn primary")
