.row
  .span6.columns
    %fieldset
      = form_for user, :html => {:class => 'form-stacked'} do |f|
        - if user.errors.any?
          .alert-message.block-message.error
            %p #{pluralize(user.errors.count, "problem")} with your registration:
            .errors
              - user.errors.full_messages.each do |msg|
                %p= msg



        .clearfix
          = f.label :email
          .input
            = f.text_field :email, :class => "field"
        .clearfix
          = f.label :name
          .input
            = f.text_field :name, :class => "field"
            
          %span.note This will be used to find your organization eg. visitorr.com/your-name-here
        .clearfix
          = f.label :password
          .input
            = f.password_field :password, :class => "field"
            - if defined? editing
              %span.help-block Leave blank to keep your current password

        .clearfix
          = f.label :password_confirmation
          .input
            = f.password_field :password_confirmation, :class => "field"


          %span.note
            We take your privacy seriously and will never spam or sell your email.

        .actions
          = f.submit((defined?(editing) ? "Update" : "Register"), :class => "btn primary")
