%h2
  Contact Us
%span
  Use this form or call 512.623.0641
.row
  .span10.columns
    %fieldset
      = form_for @contact, :html => {:class => 'form-stacked'} do |f|
        - if @contact.errors.any?
          .alert-message.block-message.error
            %p #{pluralize(@contact.errors.count, "problem")} with your message:
            .errors
              - @contact.errors.full_messages.each do |msg|
                %p= msg
                
                
        .clearfix
          = f.label :name
          .input
            = f.text_field :name
        .clearfix
          = f.label :email
          .input
            = f.text_field :email
        .clearfix
          = f.label :content
          .input
            = f.text_area :content

        .actions
          = f.submit("Submit", :class => "btn primary")
