<p>
  <%= @user.profile.body.html_safe %>
</p>
<p>
  <%= @user.profile.video_url %>
</p>

<iframe width="560" height="315" src="<%= @user.profile.video_url %>" frameborder="0" allowfullscreen></iframe>

<p>
  <%= @user.profile.phone %>
  <%= @user.profile.address %>
</p>