!!!
%html
  %head
    %title= "Visitorr"
    = stylesheet_link_tag :application
    = javascript_include_tag "https://js.stripe.com/v1/"
    = javascript_tag "Stripe.publishableKey = '#{STRIPE_PUBLIC_KEY}';";
    = javascript_include_tag :application
    = csrf_meta_tag
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "viewport", :content => "user-scalable=false, width=device-width"}

  %body{ :id => "#{params[:controller].parameterize}_mobile"  }
    .mobile.navcontainer      
      .mobile.topbar
        %h3= link_to image_tag('logo.png'), root_path

    #header
    .mobile.container
      .mobile.main
        .row
          .spanmob.columns
            - if flash.notice
              #notice.alert-message.block-message.success= flash.notice
        .org_name
          %h3= "#{@user.name}"              
        = yield
        = debug(params) if Rails.env.development?

